* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.Tabs {
  font-size: 20px;
  padding: 10px 60px;
  cursor: pointer;
  opacity: 0.6;
 }

 ul.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.input {
  width: 170px;
  height: 30px;
  margin: 10px;
}

button.addButton{
  width: 50px;
  height: 30px;
  color: white;
  background-color: rgb(5, 141, 175);
  border-radius: 10%;
}

button.deleteButton{
  width: 50px;
  height: 40px;
  background-color: rgb(143, 2, 2);
  color: white;
  margin-left: 30px;
  border-radius: 10%;
}

ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
}

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}

ul.nav li.active {
  background: black;
  color: white;
}

.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
