.App {
  text-align: center;
  padding: 10%;
  width: 60%;
}

table{
  width: 40%;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
