.App {
  text-align: center;
  padding: 5%;
}

.table{
  margin: 50px;
  border: 1px solid black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
